.image-ship{
    width: 100%;
    padding-top: 60%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-ship p {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: -1;
  }

p {
    margin-bottom: 0rem;
}